@import url('https://fonts.googleapis.com/css?family=Nova+Cut');
.book-listing-header {
    top: 0;
    position: relative;
    height: 70vh;
    background: url('../images/tr.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    font-family: 'Alegreya Sans', sans-serif;
}

.nav p a {
    color: #ffffff;
}

.nav p {
    color: #ffffff;
}

.book-listing-header input {
    color: #474747;
    text-indent: 15px;
}

#test:focus {
    border-bottom: 1px solid #000;
}

.book-listing-header input::placeholder {
    color: #474747;
    text-indent: 30px;
    font-size: 15px;
}

input[type=text]:focus {
    border: none;
    outline: none;
}

.book-listing-search-box {
    position: relative;
    top: 100px;
}

.book-listing img {
    height: 35%;
    box-shadow: 0 8px 12px 0px #474747;
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}

.book-listing button {
    width: 60%;
}

.book-listing .main {
    position: relative;
    top: -100px;
}