@import url('https://fonts.googleapis.com/css?family=Germania+One');
.side-bar {
    background: #333;
    position: fixed;
    height: 100%;
    box-shadow: 0 12px 16px 0 #000000;
}

.side-bar img {
    border: 0;
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
    background: #ffffff;
    height: 200px;
    object-fit: cover;
}

.side-bar-options a {
    color: ghostwhite;
    padding: 15px;
}

.side-bar-options a .active {
    background: #ffffff;
    color: #333;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 #4c4c4c;
}

#main-profile-content {
    float: right;
}

.fav-book-listing {
    text-align: center;
}

.fav-book-listing h5 {
    font-family: 'Germania One', cursive;
    padding: 40px;
    margin-bottom: 30px;
    color: #797979
}

.hide {
    display: none;
}

.side-bar small {
    /* text-align: right; */
    color: #ffffff;
    line-height: 30px;
}

.borrowed_books {
    text-align: center;
}

.borrowed_books h5 {
    font-family: 'Germania One', cursive;
    padding: 40px;
    margin-bottom: 30px;
    color: #797979
}