body {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    /* background-color: #24292e;
	 */
    background-color: ghostwhite;
    color: #474747
}

.brand-logo {
    max-width: 100%;
}

.book-listing-header {
    top: 0;
    position: fixed;
    height: 80vh;
    background: url('../images/test2.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*top: 0; right: 0; bottom: 0; left: 0;*/
    font-family: 'Alegreya Sans', sans-serif;
}

.header-wrapper {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
}

.wrap {
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 20px;
    background: #fff;
    border: 2px solid silver;
    border-radius: 5px;
    color: steelblue;
}

.wrap input {
    width: 380px;
    height: 25PX;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid silver;
    padding: 5px;
}

.wrap .btn-login {
    width: 400px;
    height: 38px;
    background-color: steelblue;
    border-radius: 5px;
    border-top: 10px;
    border: 0;
    font-size: 20px;
    padding: 5px;
    color: white;
}

.wrap h2 {
    text-align: center;
    color: grey;
    font-weight: 300;
    font-size: 24px;
    letter-spacing: -0.5px;
    font-family: sans-serif;
}

.wrap-new {
    background-color: white;
    width: 437px;
    height: 40px;
    overflow: hidden;
    margin: auto;
    margin-top: 8px;
    border-top: 15px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 2px
}

.wrap-new p {
    font-size: 16px;
    text-align: center;
}